<h3>
    <a class="btn btn-secondary" href="/budget"><i class="fa fa-plus"></i> Create New</a>
    Expenses List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount (RM)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.desc}}</td>
            <td>{{this.amount}}</td>
            <td>
                <a href="/budget/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/budget/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>